.jumbotron.new-copmlex
  padding-bottom: 10px
  .card
    padding: 10px 20px
    .card-header
      text-align: center
      padding: 6px 3px  
    .btn
      width: 100%
      margin: auto  
      margin-top: 15px
  .exercise-manager
    display: flex
    justify-content: space-between
    .form-group
      width: 100%
      padding: 0px 20px
      &:nth-child(2), &:nth-child(3), &:nth-child(4)
        flex-shrink: 3
      input
        height: 50%
      margin-bottom: 0

  .btn
    width: 50%
    margin: auto
    display: block
