.jumbotron.table-container
  margin-top: 20px
  padding: 10px 10px
  h1
    text-align: center
    padding-bottom: 20px
  .table
    tr
      display: flex
      justify-content: space-between
      td
        display: flex
        align-items: center
        p
          margin: 0
        &:nth-child(3)
          padding: 0px
      td, th
        padding: 6px 5px
        transition: all .3s ease
        width: 100%
        font-size: 14px
        &:nth-child(1)
          flex-shrink: 2
        &:nth-child(2)
          flex-shrink: 3
          p
            width: 100%
            text-align: center
        &:nth-child(3)
          flex-shrink: 4
          .btn
            height: 100%
            border-radius: 0px
        input
          height: 25px
          width: 100%
          color: #fff
          padding-left: 5px
          font-size: 12px
      &:nth-child(1)
        margin-bottom: 5px
        td
          padding: 0px
          border: 4px solid #515960
        input, .btn
          height: 35px
    .form-control-plaintext
      background-color: lighten(rgb(58,63,68), 10)
    .btn
      padding: 2px 8px
      border: none
      font-size: 14px
      width: 100%
  .table
    .table-default
      padding-bottom: 15px
      td
        &:nth-child(1)
          padding-right: 2px
        &:nth-child(3)
          padding: 0
          padding-left: 5px
          border: none
          .btn
            height: 100%
            border: none
            border-radius: 0


.jumbotron.table-container.loader
  height: 400px