.jumbotron.new-workout
  width: 100%
  margin-top: 20px
  padding: 5px 15px 
  .top-newworkout
    display: flex
    justify-content: space-between
    align-items: center
    h1
      text-align: center
  .form-group
    display: flex
    justify-content: space-around
    padding: 5px 0px
    .form-check
      border: 1px solid #fff
      border-radius: 2px
      font-size: 18px
      display: flex
      align-items: center
      padding: 0
      input
        margin-top: 0
        position: relative
        display: none
        &:checked + label
          background-color: #62c462
      label 
        padding: 10px 25px
        color: #fff
  .calendar-wrapper   
    width: 50%
    margin: auto
    overflow: hidden 
    min-height: 5px
    margin-bottom: 7px
    .react-calendar
      padding: 5px
      display: none
      top: -400px
      position: relative
      background-color: rgba(122,130,136,0.5)
      border-radius: 6px
      transition: all .4s ease
      .react-calendar__month-view__days__day--neighboringMonth
        background-color: green
      .react-calendar__navigation__arrow,.react-calendar__navigation__label 
        border: none
        background: transparent
        color: #fff
        font-size: 22px
      .react-calendar__navigation__arrow
        padding: 0px 20px
      .react-calendar__month-view__weekdays__weekday 
        text-align: center
        margin-bottom: 7px
        margin-top: 5px
        color: #fff
        abbr
          text-decoration: none
      .react-calendar__month-view__days
        justify-content: space-between
        .react-calendar__month-view__days__day
          border: none
          background-color: rgba(122,130,136,0.8)
          color: #fff
          padding: 15px
          font-weight: bold
          &:hover
            background-color: rgba(122,130,136,0.6)
        .react-calendar__tile--now
          background-color: green
        .react-calendar__month-view__days__day--weekend
          color: darken(red, 30)
    .react-calendar.show
      display: block
    .react-calendar.show.animate
      top: 0
  .jumbotron.workout-exercises
    margin-top: 5px
    padding: 5px 15px
    background-color: lighten(#1c1e22, 20)
    .top-panel
      padding: 2px 0px
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 25px
      .complex-name
        font-weight: bold
        margin-right: 25px
      .badge
        font-size: 10px
        display: block
        height: 18px
    table
      th, td
        padding: 3px 0px
        font-size: 12px
        text-align: center
      th 
        padding: 6px 0px
      thead
        tr
          display: flex
          height: 100%    
        th        
          width: 65%
          flex-shrink: 0
          &:not(:first-child)
            width: 65%
            flex-shrink: 1
      tbody
        tr
          padding: 0px 5px
          display: flex
          height: 100%
          th        
            width: 65%
            flex-shrink: 0
          td
            padding: 6px 0px
            input
              border-radius: 2px
              border: none
              height: 100%
              width: 65%
              text-align: center
              font-size: 16px

  .jumbotron.workout-complex
    margin-top: 5px
    padding: 5px 15px
    background-color: lighten(#1c1e22, 20)
    .top-panel
      padding: 2px 0px
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 25px
      .complex-name
        font-weight: bold
        margin-right: 25px
      .badge
        font-size: 10px
        display: block
        height: 18px
    table
      th, td
        padding: 3px 0px
        font-size: 12px
        text-align: center
      th 
        padding: 6px 0px